@model FrontEnd.Models.MisFacturasViewModel

@{
    ViewData["Title"] = "Details";
    var rol = Context.Session.GetInt32("Rol");
}

<h1>Detalle de la Factura</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Consecutivo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFactura)
        </dd>
        <dt class = "col-sm-2">
            Fecha Factura
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFactura)
        </dd>
        <dt class = "col-sm-2">
            Monto Alquiler
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoAlquiler)
        </dd>
        <dt class = "col-sm-2">
            Primer Pago
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerPago)
        </dd>
        <dt class = "col-sm-2">
            Monto Multa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoMulta)
        </dd>
        <dt class = "col-sm-2">
            Segundo Pago
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            Detalle Dirección
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetalleDireccion)
        </dd>
        <dt class = "col-sm-2">
            Precio Envío
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioBase)
        </dd>
        <dt class = "col-sm-2">
            Fecha Envío
        </dt>
        <dd class = "col-sm-10">
            Fecha Envío
        </dd>
        <dt class = "col-sm-2">
            Tracción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="MisFacturas">Regresar a mis facturas</a>
    <br />
    @if (rol == 1)
    {
        <a asp-action="MostrarFacturas">Regresar al historial de facturas</a>
    }
</div>
